<aside>
  <form class="form">
    <div>
      <label for="search">Recherche sur le site</label>
      <span>Entrer un mot, une phrase...</span>
    </div>
    <input
      type="search"
      required
      min="2"
      max="20"
      name="search"
      id="search"
      placeholder="Recherche"
    />
  </form>
</aside>
<script>
  import DOMPurify from 'dompurify';
  const form = document.querySelector('form');
  form?.addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const searchTerm = DOMPurify.sanitize(formData.get('search')?.toString());
    if (!searchTerm || searchTerm.length === 0) return;
    const url = new URL('/search', window.location.origin);
    url.searchParams.set('q', searchTerm);
    window.location.assign(url.toString());
  });
</script>
